<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:xli.jhu@gmail.com">email</a></li>
   <li><a href="https://www.linkedin.com/in/xintong-li-epi"  target="_blank"><i class="fab fa-linkedin-in ai-1.5x"></i></a></li>
   </ul>
  </footer>
  </body>

</html>
