<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
 
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   
             <li><a href="https://orcid.org/0000-0002-6872-5804" target="_blank"><i class="ai ai-orcid-square ai-1.5x"></i></a>
            <li><a href="https://www.researchgate.net/profile/Xintong_Li20" target="_blank"><i class="fab fa-researchgate  ai-1.5x"></i></a>
            <li><a href="https://scholar.google.com/citations?user=SE-QC_AAAAAJ&hl=en&authuser=1" target="_blank"><i class="ai ai-google-scholar ai-1.5x"></i></a>
            <li><a href="https://github.com/Xintong-Li-ZnCu" target="_blank"><i class="fab fa-github  ai-1.5x"></i></a>
            <li><a href="https://www.ndorms.ox.ac.uk/team/xintong-li"  target="_blank"><i class="fas fa-landmark ai-1.5x"></i></a>
           <li><a href="https://www.linkedin.com/in/xintong-li-epi"  target="_blank"><i class="fab fa-linkedin-in ai-1.5x"></i></a> 
           <li><a href="mailto: xintong.li@ndorms.ox.ac.uk"  target="_blank"><i class="fas fa-envelope-square  ai-1.5x"></i></a>
  </ul>
  </footer>
  </body>

</html>
